*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body{
    background-image: url(../img/registro.jpg);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/registro.jpg);
    /* background: url() rgba(256, 256, 256, 0.3); */
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.formulario{
    position: relative;
    width: 450px;
    height: 700px;
    border: 2px solid white;
    border-radius: 25px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario h2{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-top: -5px;
}
.formulario .input{
    position: relative;
    margin: 30px 0;
    width: 400px;
    border-bottom: 2px solid #fff;
}
.formulario .input input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: #fff;
    font-size: 20px;
}
#resultado {
    color: red;
    font-weight: 600;
    position: relative;
    top: 25px;
    height: 1em;
}
div i{
    position: absolute;
    color: #fff;
    top: 13px;
    right: 0;
}
/* input::placeholder{
    color: #fff;
} */
.btnreg {
    color: #fff;
    background-color: blue;
    /* width: 100%; */
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btnreg1{
    width: 100%;
}
.btnreg2{
    width: 25%;
    justify-content: center;
}
.btnreg:hover {
    background-color: navy;
}

.btnreg:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

.terminos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.terminos span a{
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    /* cursor: default; */
}
.terminos a:focus{
    text-decoration: underline;
}
.cont{
    cursor: pointer;
}
.mensaje{
    width: 450px;
    /* background-color: #fff; */
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    /* transform: translate(-50%,-50%) scale(0); */
    /* transition: transform .4s,top .4s; */
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    height: 330px;
    color: #000;
    backdrop-filter: blur(1500px);
    
}
.mensaje h2{
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}
.check{
    position: relative;
    color: #00ff00;
    font-size: 70px;
}
.mensaje button{
    width: 100%;
    background: blue;
    padding: 10px 0;
    margin-top: 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
.mensaje button:hover {
    background-color: navy;
}
.mensaje a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}
.abrir-mensaje{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
@media screen and (max-width: 768px) {
    .formulario {
        width: 350px;
        overflow-x: visible;
    }
    .formulario .input {
        width: 100%;
    }
}
/* Footer */
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding: 20px;
    border-radius: 100px 100px 0 0;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}

.single-footer-widget .copywrite-text a {
    color: #33343d;
    font-size: 1rem;
    text-decoration: none;
}

.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
    text-decoration: underline;
}

.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}

.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
    text-decoration: none;
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
    text-decoration: underline;
}

.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}

.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #000000;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.footer_social_area a i {
    line-height: 36px;
}

.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

.footer_area .footer_menu ul {
    padding-left: 0;
}

.footer_area .footer_menu ul li {
    list-style: none;
}

.footer_area .footer_menu ul li a {
    color: #fff;
    text-decoration: none;
}

.footer_area .footer_menu ul li a:hover,
.footer_area .footer_menu ul li a:focus {
    text-decoration: none;
}